.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    font-size: 15px;
    padding: 10px 0px;
    z-index: 1;
    overflow: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    hr{
        width: 100%;
        background-color: lightgray;
        border-width: 1px;
        margin-bottom: 25px;
        color: lightgray;
    }
}

.loading{
    opacity: 0.7;
    cursor: not-allowed;

    * {
        pointer-events: none;
    }
}


button{
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px 5px;
    background-color: #a0004f;
    color: white;
    margin-top: 5px;
    border: none;
    width: 80%;
    margin: 20px;

    &:hover:enabled{
        opacity: 0.7;
        transition: 0.2s;
        cursor: pointer;
    }

    &:disabled{
        opacity: 0.7;
        transition: 0.2s;
    }
}
