sodashop/db.sqlite3
sodashop/.env
sodashop/frontend/migrations/
sodashop/cart/migrations/
sodashop/user/migrations/
sodashop/frontend/node_modules/
*.pyc
__pycache__
sodashop/frontend/static/frontend/*.js