/dump.json
/db.sqlite3
/.env
/frontend/node_modules/
/frontend/node_modules

sodashop/.env
/sodashop/.env

/sodashop/frontend/migrations/
/sodashop/cart/migrations/
/sodashop/user/migrations/

sodashop/frontend/migrations/
sodashop/cart/migrations/
sodashop/user/migrations/

/sodashop/frontend/node_modules/
sodashop/frontend/node_modules/
