/dump.json
/db.sqlite3
/.env
/frontend/node_modules/
/frontend/node_modules

dump.json
db.sqlite3
.env
frontend/node_modules/
frontend/node_modules

/sodashop/dump.json
/sodashop/db.sqlite3
/sodashop/.env
/sodashop/frontend/node_modules/
/sodashop/frontend/node_modules

sodashop/dump.json
sodashop/db.sqlite3
sodashop/.env
sodashop/frontend/node_modules/
sodashop/frontend/node_modules