hr{
    width: 100%!important;
    background-color: lightgray!important;
    border-width: 1px!important;
    margin-bottom: 25px;
    color: lightgray;
}

.registerBlank{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    font-size: 15px;
    padding: 10px 0px;
    z-index: 1;
    overflow: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    .resetMail{
        margin-top: 20px;
        margin-left: 10%;
        width: 80%;
        text-align: left;
    }
}

.errorLog{
    text-align: left;
    color: red;
    width: 80%;
    margin-left: 10%;
}

.loginInput{
    width: 80%;
    margin: 20px!important;
}

.title{
    display: flex;
    justify-content: center;
    grid-gap: 25%;

    p{
        font-size: 20px;
        cursor: pointer;
        color: rgb(100, 100, 100);
    }
}

button{
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px 5px;
    background-color: #a0004f;
    color: white;
    margin-top: 5px;
    border: none;
    width: 80%;
    margin: 20px;
}

button:hover:enabled{
    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;
}

button:disabled{
    opacity: 0.7;
    transition: 0.2s;
}

.form-error{
    z-index: 999;
}

.order_product_description{
    position: relative;
    top: 25px;
    color: black;
    margin: 0px;
    width: 100px;
    padding: 0px;
    font-size: 2vh;
}
.order_product img{
    width: auto;
    height: 90%;
    margin-top: 5px;
}
.order_product{
    background-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 280px;
    height: 180px;
    padding: 0px;
    border-radius: 10px;
    flex: 0 0 30%;
    columns: 3;
}

.order_list{
    display: flex;
    flex-wrap: wrap;
    max-height: 240px;
    overflow-y: auto;
    background-color: rgba(240, 240, 240, .5);
    padding-top: 10px;
    padding-left: 10px;
    backdrop-filter: blur(8px);
}
.Confirm{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    position: relative;
    margin-top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 120;
}

.loading{
    opacity: 0.7;
    cursor: not-allowed;

    * {
        pointer-events: none;
    }
}

.profile{
    position: relative;
    margin-top: 140px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    z-index: 3;
    width: 50%;

    .fields{
        p {
            color: rgb(250, 210, 210);
        }

        .error{
            text-align: left;
            color: red;
            font-size: 15px;
            margin-top: 10px;
            letter-spacing: 1px;
        }

        input {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 20px;
            text-decoration: none;
            color: white;
            border: none;
            width: calc(100% - 20px);
            outline: none;
            letter-spacing: 1px;
        }

        input:-webkit-autofill{
            -webkit-text-fill-color: white !important;
        }

        input:-webkit-autofill {
            caret-color: white;
          }
    }
}

.order_product_description{
    position: relative;
    top: 25px;
    color: black;
    margin: 0px;
    width: 100px;
    padding: 0px;
    font-size: 2vh;
}

.order_list{
    display: flex;
    flex-wrap: wrap;
    max-height: 240px;
    overflow-y: auto;
    background-color: rgba(240, 240, 240, .5);
    padding-top: 10px;
    padding-left: 10px;
    backdrop-filter: blur(8px);
}
.order_products{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.order_date{
    display: flex; 
    justify-content: space-between;
}

.timer{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.errorInput{
    border: 1px solid red!important; 
}

.invalidLink{
    position: absolute;
    color: white;
    margin-top: 30vh;
    z-index: 2;
    margin-left: 10%;
    letter-spacing: 1px;
}