#blob1{
    width: 304px;
    left: calc(100vw - 304px - 300px);
    top: 123px;
}

#blob2{
    width: 450px;
    top: 350px;
}

.blob{
    z-index: 1;
    position: absolute;
    filter: blur(8px);

    --blob-start-color: white;
    --blob-end-color: white;

    path {
        transition: 1s;
    }

    svg{
        width: 100%;
    }
}

.blobs__container{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
