.topnavImg{
    width: 30px;
    height: 30px;
    margin: 10px;
    float: right;
    cursor: pointer;
}

.usercircle{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #f50057;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    text-align: center;
}
.usercircle:hover{
    opacity: 0.4;
}

.usercircleA{
    font-size: 30px;
    color: white;
    line-height: 50px;
}