.topnavA{
    font-size: 35px;
    color: white;
    margin: 10px;
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
    line-height: 50px;
}

.topnav{
    position: fixed;
    width: 80%;
    left: 110px;
    top: 2%;
    border: none;
    border-radius: 30px;
    padding: 10px 10px;
    z-index: 34679346;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}