.order__date{
    display: flex; 
    justify-content: space-between;
    margin-top: 25px;

    .order__state{
        background-color: #fff04b;
        padding: 10px 20px;
        height: 23px;
        border: none;
        border-radius: 10px;
        margin-top: 11px;
    }
}

.order__list{
    display: flex;
    flex-wrap: wrap;
    max-height: 240px;
    overflow-y: auto;
    background-color: rgba(240, 240, 240, .5);
    padding-top: 10px;
    padding-left: 10px;
    backdrop-filter: blur(8px);
}

.order__products{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.order__product{
    background-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 280px;
    height: 180px;
    padding: 0px;
    border-radius: 10px;
    flex: 0 0 30%;
    columns: 3;

    img{
        width: auto;
        height: 90%;
        margin-top: 5px;
    }
}

.order__product__description{
    position: relative;
    top: 25px;
    color: black;
    margin: 0px;
    width: 100px;
    padding: 0px;
    font-size: 2vh;
}