.list-products-cart{
    display: flex;
}

.product{
    width: 20%;
    margin: 50px;
}

.cartimg{
    position: relative;
    width: 75px;
    height: 165px;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 30px;
    margin-right: 15px;
}

.cart{
    position: fixed;
    top: 0px;
    right: -40vw;
    width: 40%;
    background-color: white;
    z-index: 58430534545;
    overflow-y: auto;
    padding-bottom: 150px;
    transition: 0.5s;

    hr{
        width: 80%!important;
        height: 2px;
        background-color: gray!important;
        border-radius: 4px;
        color: gray;
    }
}

.product{
    width: 85%;
    height: 200px;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.cross{
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    transform: translate(0%, -55%);
    left: 0%;
    cursor: pointer;
}

.productDescription{
    position: relative;
    height: 20%;
    top: 50%;
    width: 70%;
    transform: translate(-0%, -50%);
    font-size: 25px;
    display: flex;
}

.littledescription{
    color: light-gray;
    font-size: 15px;
}


.container4text{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 15px;
}

#buy{
    position: relative;
    width: 80%;
    padding: 15px 20px;
    margin-top: 30px;
    background-color: #a0004f;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 50px;
}

#buy:hover{
    opacity: .7;
}

.quantity{
    width: 45%;
    margin-left: 16%;
    display: flex;
}

.quantityselector{
    padding: 2px 2px;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    color: gray;
    cursor: pointer;
    text-align: center;
}

#maincross{
    position: relative;
    margin-top: 10px;
    transition: translate(0%, -50%);
    left: 60%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}