body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
    overflow-x: hidden!important;
    font-family: 'Bebas Neue', sans-serif;
    min-height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap');


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  background-color: transparent!important;
  background: transparent!important;
  transition: background-color 5000s ease-in-out 0s;
}

#wave1{
    position: absolute;
    bottom: 0px;
    width: 500%;
    overflow: hidden;
    animation: animwave1 80s linear infinite;
    z-index: 999;
}

@keyframes animwave1{
    0%{
        left: 0px;
    }
    100%{
        left: -400%;
    }
}

#wave2{
    position: absolute;
    bottom: 0px;
    width: 500%;
    overflow: hidden;
    animation: animwave2 80s linear infinite;
    left: -400%;
    opacity: 0.5;
    z-index: 999;
}

@keyframes animwave2{
    0%{
        left: -400%;
    }
    100%{
        left: 0%;
    }
}

#mice{
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 101;
    width: 35%;
}

#bg{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(45deg, #d13381, #ffe88c);

    div{
        position: absolute;
        width: 35%;
        top: 100px;
        left: 150px;
        color: white;
        z-index: 999999;
        animation: textanim 1.5s 1;
        
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none;
                user-select: none;
       
    }
    div h1{
        font-size: 90px;
    }

    div p{
        font-size: 30px;
    }
}

@keyframes textanim{
    0%{
        left: -500px;
    }
    100%{
        left: 150px;
    }

}

.blockimg{
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    z-index: 102;
    padding: 100px 20px 0px 20px;
    background-color: rgb(247, 247, 246);
    font-size: 40px;
}

.sodacontainer{
    overflow: hidden;
    border-radius: 20px;
    width: 48%;

    img:hover {
        transform: scale(1.2);
        transition: 0.5s;   
    }
}

#energycontainer{
    width: 38%;

    img {
        width: 100%;
        height: 100%;
    }
}

.blockimg img:hover{
    opacity: .8;
    transition: 0.5s;
}

.secondblock{
    width: 60%;
}

.secondblockimgs{
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
        width: 100%;
        height: 100%;
    }
}

.popular_product{
    width: 29%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    margin: 2%;
    cursor: pointer;
    box-shadow: -5px 6px 15px 2px rgba(50, 50, 50, .4);
}

.popular_product:hover{
    transform: scale(1.05);
    opacity: 0.7;
    transition: .3s;
}

.popular_products{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin-left: 2%;
}

#wave3{
    position: absolute;
    width: 500%;
    animation: animwave1 80s linear infinite;
    z-index: 999;
    bottom: -80px;
}

.popular_products_block{
    padding: 120px 0px;
}

.popular_products_header{
    display: flex;
    width: 100%;

    p{
        font-size: 50px;
        margin-left: 50px;
    }

    button {
        position: absolute;
        padding: 15px 0px;
        height: 75px;
        width: 200px;
        color: white;
        background-color: #a0004f;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        right: 50px;
    }
        
    button:hover{
        transform: scale(1.1);
        opacity: .7;
        transition: .3s;
    }
    
}

.popular_product_cart{
    display: flex;

    img{
        margin: 20px;
        width: 100px;
        height: 220px;
    }

    div {
        margin-top: 50px;
        font-size: 25px;
    }
}