body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
    overflow-x: hidden!important;
    font-family: 'Bebas Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap');


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  /*-webkit-box-shadow: 0 0 0px 1000px #a13030 inset;*/
  background-color: transparent!important;
  background: transparent!important;
  transition: background-color 5000s ease-in-out 0s;
}

#wave1{
    position: absolute;
    bottom: 0px;
    width: 500%;
    overflow: hidden;
    animation: animwave1 80s linear infinite;
    z-index: 999;
}

@keyframes animwave1{
    0%{
        left: 0px;
    }
    100%{
        left: -400%;
    }
}

#wave2{
    position: absolute;
    bottom: 0px;
    width: 500%;
    overflow: hidden;
    animation: animwave2 80s linear infinite;
    left: -400%;
    opacity: 0.5;
    z-index: 999;
}

@keyframes animwave2{
    0%{
        left: -400%;
    }
    100%{
        left: 0%;
    }
}

#mice{
    position: absolute;
    right: 0px;
    top: 15%;
    z-index: 101;
    width: 35%;
}

#bg{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(45deg, #d13381, #ffe88c);
}

.text{
    position: absolute;
    width: 35%;
    top: 100px;
    left: 150px;
    color: white;
    z-index: 999999;
    animation: textanim 1.5s 1;
}

@keyframes textanim{
    0%{
        left: -500px;
    }
    100%{
        left: 150px;
    }

}

.text h1{
    font-size: 90px;
}

.text p{
    font-size: 30px;
}

.blockimg{
    position: relative;
    width: 100%;
    display: flex;
    z-index: 102;
    padding: 100px 0px;
    background-color: white;
    background-color: rgb(247, 247, 246);
}

.sodacontainer{
    overflow: hidden;
    border-radius: 20px;
    margin: 15px;
    width: 45%;
}

#energycontainer{
    width: 35%;
}

#dora, #coke{
    width: 100%;
    margin: 0px;
}

.blockimg img{
    margin: 15px;
    border-radius: 20px;
}

.blockimg img:hover{
    opacity: .8;
    transition: 0.5s;
}

.secondblock{
    width: 60%;
}

.secondblockimgs{
    width: 100%;
    display: flex;
}

#energy{
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 0px;
}

#energy:hover, #dora:hover, #coke:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.blockimg p{
    margin: 15px;
    font-size: 40px;
}

.blockimg p, .bg p{
    margin: 15px;
    font-size: 40px;
}

.footer{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 400px;
}

.footer_text{
    display: flex;
    margin-left: 5%;
}

.social{
    height: 500px;
    line-height: 30px;
    letter-spacing: 3px;
    font-size: 18px;
    width: 23%;
    margin: 1%;
}

.social_text{
    width: 70%;
    margin-left: 15%;
}

#zaq{
    position: relative;
    top: -14px;
    margin-right: 5px;
}


.bottom{
    background-color: rgb(240, 240, 240);
    text-align: center;
    height: 100px;
    padding: 50px 0px;
    width: 100%;
    margin-left: 0px;
}

.bottom_text{
    margin-top: 20px;
    font-size: 12px;
}

.bottom_imgs span{
    margin-right: 30px;
}

li{
    list-style-type: none;
    letter-spacing: 3px;
    font-size: 18px;
}

.social a{
    color: rgb(200, 200, 200);
    letter-spacing: 3px;
    font-size: 18px;
}

.social li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0)
}

.social li:hover::after,
.social li:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.social li{
  overflow: hidden;
  text-decoration: none;
  color: rgb(10, 10, 10);
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 18px;
}

.social li:hover::after,
.social li:focus::after{
    transform: translate3d(0, 0, 0);
}

.profile{
    position: relative;
    top: 150px;
    right: -35%;
    text-align: left;
}

.bottom_text a{
    position: relative;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    letter-spacing: 3px;
    font-size: 18px;
}

#basketwhite{
    position: absolute;
}

.container4quantity{
    width: 40px;
    height: 40px;
}

.popular_product{
    width: 29%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    margin: 2%;
    cursor: pointer;
    box-shadow: -5px 6px 15px 2px rgba(50, 50, 50, .4);
}

.popular_product:hover{
    transform: scale(1.05);
    opacity: 0.7;
    transition: .3s;
}
.popular_product img{
    width: 100px;
    height: 220px;
}

.popular_products{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin-left: 2%;
}

.popular_product_description{
    position: relative;
    top: 50px;
}

#all_products{
    position: absolute;
    padding: 15px 0px;
    height: 75px;
    width: 200px;
    color: white;
    background-color: #a0004f;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    right: 50px;
}

#all_products:hover{
    transform: scale(1.1);
    opacity: .7;
    transition: .3s;
}

#wave3{
    position: absolute;
    bottom: 0px;
    width: 500%;
    animation: animwave1 80s linear infinite;
    z-index: 999;
}

.popular_products_block{
    position: relative;
    padding: 120px 0px;
}

.disabledText{
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}