<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="a store where you can buy any kind of soda"/>
    <meta name="keywords" content="soda, energies, cola, fanta, milkis" />
    <title>SodaStock | the most delicious sodas</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div id="main"></div>

    <script type="text/javascript" src="{% static 'frontend/main.js' %}" ></script>
</body>
</html>
