.list-products-cart{
    display: flex;
}

.cart{
    position: fixed;
    top: 0px;
    right: -40vw;
    width: 40vw;
    background-color: white;
    z-index: 5;
    padding-bottom: 150px;
    transition: 0.5s;
    height: 100%;
    overflow: auto;

    .cart__header{
        width: 85%;
        margin: 25px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;

        .main__cross{
            margin-top: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        p{
            font-size: 40px;
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }

    hr{
        width: 80%;
        height: 2px;
        background-color: gray;
        border-radius: 4px;
    }
}

#buy{
    width: 80%;
    padding: 15px 20px;
    margin-top: 30px;
    background-color: #a0004f;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 50px;
    cursor: pointer;

    &:hover{
        opacity: .7;
    }
}

.opened{
    right: 0px;
    box-shadow: -5px 0px 20px gray;
}