.register__blank{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    font-size: 15px;
    padding: 10px 0px;
    z-index: 1;
    overflow: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    hr{
        width: 100%;
        background-color: lightgray;
        border-width: 1px;
        margin-bottom: 25px;
        color: lightgray;
    }

    .reset__mail{
        margin-top: 20px;
        margin-left: 10%;
        width: 80%;
        text-align: left;
    }

    .error__log{
        text-align: left;
        color: red;
        width: 80%;
        margin-left: 10%;
    }
    
    .login__input{
        width: 80%;
        margin: 20px;
    }
}

.title{
    display: flex;
    justify-content: center;
    grid-gap: 25%;

    p{
        font-size: 20px;
        cursor: pointer;
        color: rgb(100, 100, 100);
    }
}

button{
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px 5px;
    background-color: #a0004f;
    color: white;
    margin-top: 5px;
    border: none;
    width: 80%;
    margin: 20px;

    &:hover:enabled{
        opacity: 0.7;
        transition: 0.2s;
        cursor: pointer;
    }

    &:disabled{
        opacity: 0.7;
        transition: 0.2s;
    }
}

.confirm{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    position: relative;
    margin-top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 120;
}

.loading{
    opacity: 0.7;
    cursor: not-allowed;

    * {
        pointer-events: none;
    }
}

.profile{
    position: relative;
    margin-top: 140px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    z-index: 1;
    width: 50%;

    .fields{
        p {
            color: rgb(250, 210, 210);
        }

        .error{
            text-align: left;
            color: red;
            font-size: 15px;
            margin-top: 10px;
            letter-spacing: 1px;
        }

        input {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 20px;
            text-decoration: none;
            color: white;
            border: none;
            width: calc(100% - 20px);
            outline: none;
            letter-spacing: 1px;
        }

        input:-webkit-autofill{
            -webkit-text-fill-color: white !important;
        }

        input:-webkit-autofill {
            caret-color: white;
          }
    }
}

.timer{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.error__input{
    border: 1px solid red!important; 
}

.invalid__link{
    position: absolute;
    color: white;
    margin-top: 30vh;
    z-index: 2;
    margin-left: 10%;
    letter-spacing: 1px;
}

.logout{
    background-color: rgb(245, 0, 87);
    width: 100%;
    margin-left: 0px
}