.rotate__container{
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    overflow: hidden;
    
    .rotate{
        position: absolute;
        height: 160%;
        aspect-ratio: 1/1;
        right: 0px;
        bottom: 0px;
        transform: translate(50%, 53%);
        z-index: 1;
        transition: 1s;

        img{
            position: absolute;
            width: 23%;
            aspect-ratio: 250/580;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;
        }
        #soda1{
            transform: rotate(-30deg);
            left: 20%;
        }
        #soda2{
            transform: rotate(60deg);
            top: 3%;
            right: 15%;
        }
        #soda4{
            transform: rotate(-120deg);
            bottom: 3%;
            left: 12%;
        }
        #soda3{
            transform: rotate(150deg);
            bottom: -2%;
            right: 18%;
        }
    }
}

.description{
    position: relative;
    color: white;
    width: 40%;
    margin-left: 100px;
    margin-top: 15vh;
    font-size: 4vh;
    z-index: 2;
    a,  p{
        text-shadow: -1px -1px 0 #575757, 1px -1px 0 #575757, -1px 1px 0 #575757, 1px 1px 0 #575757;
    }

    p{
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.bodyafter{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    transition: 1s;
}

.animcontainer{
    animation: animbody 1.5s 1;
}

@keyframes animbody{
    0%{
        opacity: 1;
        z-index: 0;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}